body {
    background: rgb(131, 105, 136);
    font-size: 24px;
    color: white;
    padding: 2% 0;
}

body .box {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

body .box ul {
    margin-top: 20px;
}

body .box ul li {
    margin-bottom: 30px;
}

body .box ul li p {
    padding: 1px;
    margin: 14px 0;
}

.box ul li img {
    width: 40%;
}

.box h2 {
    margin-bottom: 5%;
    color: skyblue;
}